Supply-Chain-Analytics-Workflow.json
{
  "name": "Postgress_data_ingestion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject:daily sales"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "3dd2934c-0f0e-45a8-8a96-baa0aa1c64ce",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YpNStj5I0jFDYQo7",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "7538d877-e4d3-40a8-b680-610b7fa93383",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_aggregate",
          "mode": "list",
          "cachedResultName": "fact_aggregate"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $json.customer_id }}",
            "on_time": "={{ $json.on_time }}",
            "in_full": "={{ $json.in_full }}",
            "otif": "={{ $json.otif }}",
            "order_id": "={{ $json.order_id }}",
            "order_placement_date": "={{ $json.order_placement_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\")}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_placement_date",
              "displayName": "order_placement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "on_time",
              "displayName": "on_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "in_full",
              "displayName": "in_full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "otif",
              "displayName": "otif",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "5dd34028-f8ea-415c-8606-bfceff50eb4b",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "KJsuTYbYSEhiGTTI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "attachment_1",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        192,
        240
      ],
      "id": "d987b4a7-159f-431a-a740-d9812e00d00d",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_order_line",
          "mode": "list",
          "cachedResultName": "fact_order_line"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $json.customer_id }}",
            "product_id": "={{ $json.product_id }}",
            "order_qty": "={{ $json.order_qty }}",
            "delivery_qty": "={{ $json.delivery_qty }}",
            "In Full": "={{ $json['In Full'] }}",
            "On Time": "={{ $json['On Time'] }}",
            "On Time In Full": "={{ $json['On Time In Full'] }}",
            "order_id": "={{ $json.order_id }}",
            "order_placement_date": "={{ $json.order_placement_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}",
            "agreed_delivery_date": "={{ $json.agreed_delivery_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}",
            "actual_delivery_date": "={{ $json.actual_delivery_date.toDateTime(\"dd-MM-yyyy\").format(\"yyyy-MM-dd\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_placement_date",
              "displayName": "order_placement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_qty",
              "displayName": "order_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "agreed_delivery_date",
              "displayName": "agreed_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "actual_delivery_date",
              "displayName": "actual_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_qty",
              "displayName": "delivery_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "In Full",
              "displayName": "In Full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "On Time",
              "displayName": "On Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "On Time In Full",
              "displayName": "On Time In Full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        240
      ],
      "id": "962dd4ab-95cf-40b6-92d4-a9f8be5ca850",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "KJsuTYbYSEhiGTTI",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3c6be591-9a38-4717-9acd-9a5de1d0a7d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7770cb790c5bda94d8324849a1046f60310beb1171e8fa9f6c8d5955cb727cf7"
  },
  "nodeGroups": [],
  "id": "JX1zAklE1YitogPH",
  "tags": []
}